.header {
    display: flex;
    justify-content: center;
    padding: 15px 15px;
    background-color: rgba(0, 0, 0, 1);
    font-size: 24px;
    font-weight: 400;
}

.header__inner {
    display: flex;
    width: 100%;
    align-items: center;
}

.header__container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__container:first-child {
    justify-content: flex-start;
}

.header__logo {
    max-width: 100%;
}

.header__logo img {
    margin-left: 33px;
    padding: 7px;
    height: auto;
}

.search-form {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search-form input {
    width: 500px;
    padding: 10px;
    padding-left: 40px;
    font-size: 24px;
    font-weight: 400;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 5px;
}

.header__links {
    display: flex;
    align-items: center;
    gap: 15px; /* アイテム間のスペースを調整 */
}

.link-style-button {
    background: none;
    color: rgba(255, 255, 255, 1);
    border: none;
    font: inherit;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.link-style-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.link-mypage,
.link-login {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.link-login:hover,
.link-mypage:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.link-sell {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    padding: 10px 30px;
    transition: background-color 0.3s;
}