
.tab-container {
    display: flex;
    margin-bottom: 8px;
    border-bottom: 2px solid rgba(95, 95, 95, 1);
}

.tab-link {
    margin-top: 30px;
    margin-right: 60px;
    padding: 5px 20px;
    cursor: pointer;
    text-decoration: none;
    color: rgba(95, 95, 95, 1);
    font-weight: 700;
    font-size: 24px;
}

.tab-link:first-child {
    margin-left: 160px;
}

.tab-link.active {
    color: rgba(255, 0, 0, 1);
}

.tab-link.disabled {
    color: rgba(95, 95, 95, 1);
    cursor: not-allowed;
}

.item-list {
    margin: 30px;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 290px;
    margin: 35px;
    text-align: left;
}

.item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.item-name {
    font-size: 25px;
    font-weight: 400;
    color: rgba(95, 95, 95, 1);
    padding-top: 5px;
}