.purchase {
    display: flex;
    justify-content: space-between;
    margin: 5%;
}

.left-content {
    width: 61%;
    display: flex;
    flex-direction: column;
}

.item-detail {
    display: flex;
    flex-direction: row;
    gap: 5%;
    border-bottom: 0.1vw solid rgba(0, 0, 0, 1);
}

.item-image-container {
    width: 11.9vw;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.item-image {
    width: 100%;
    height: auto;
}

.item-info {
    display: flex;
    flex-direction: column;
    gap: 4%;
}

.item-name {
    font-size: 1.9vw;
    font-weight: 700;
}

.price {
    font-size: 1.9vw;
    font-weight: 400;
}

.price .currency-symbol  {
    font-size: 1.7vw;
}

.form-group {
    border-bottom: 0.1vw solid rgba(0, 0, 0, 1);
    padding-top: 2.5%;
    display: flex;
    flex-direction: column;
}

.error {
    color: red;
    font-size: 1vw;
    font-weight: 400;
    margin-right: 10vw;
}

.payment-label-container {
    display: flex;
    align-items: center;
}

.payment-label {
    margin-left: 3%;
    font-size: 1.25vw;
    font-weight: 700;
    margin-right: 4vw;
}

select[name="payment_method"] {
    width: 30%;
    padding: 0.3%;
    margin: 4% auto 7% 9%;
    color: rgba(95, 95, 95, 1);
    border: 0.1vw solid rgba(95, 95, 95, 1);
    font-size: 1vw;
    font-weight: 700;
    border-radius: 0.3vw;
}

.label-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.address-label {
    margin-left: 3%;
    font-size: 1.25vw;
    font-weight: 700;
}

.btn-change-address {
    margin-right: 5%;
    font-size: 1.25vw;
    font-weight: 400;
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}

.address-info {
    margin: 4% auto 7% 9%;
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 1);
    font-size: 1.25vw;
    font-weight: 600;
}

.right-content {
    width: 32%;
    display: flex;
    flex-direction: column;
    gap: 8%;
}

.order-summary {
    display: flex;
    flex-direction: column;
    border: 0.1vw solid rgba(0, 0, 0, 1);
}

.summary-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summary-item:first-of-type {
    border-bottom: 0.1vw solid rgba(0, 0, 0, 1);
}

.summary-label {
    font-size: 1.25vw;
    font-weight: 400;
    flex: 1;
    text-align: center;
}

.summary-value {
    font-size: 1.5vw;
    font-weight: 400;
    flex: 1;
    text-align: center;
    margin: 2.5vw auto 2.5vw auto;
}

.summary-value .currency-symbol {
    font-size: 1.25vw;
}

.btn-purchase {
    padding: 0.6vw;
    background-color: rgba(255, 85, 85, 1);
    color: white;
    font-size: 1.6vw;
    font-weight: 900;
    text-align: center;
    border: none;
    border-radius: 0.2vw;
    cursor: pointer;
}

.btn-purchase:hover {
    background-color: rgba(200, 50, 50, 1);
}
