.item-detail {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 6%;
}

.item-image-container {
    flex: 1;
    aspect-ratio: 1 / 1;
    width: 40%;
    background-color: rgba(217, 217, 217, 0.2);
    margin-top: 1.5%;
    margin-right: 7%;
}

.item-image {
    width: 100%;
    object-fit: cover;
}

.item-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.item-name {
    font-size: 2.8vw;
    font-weight: 700;
    margin-bottom: 1%;
}

.brand-name {
    font-size: 1.6vw;
    font-weight: 400;
    margin-bottom: 3%;
}

.price {
    font-size: 1.9vw;
    font-weight: 400;
    margin-bottom: 3%;
}

/* 価格の数値部分 */
.price .value {
    font-size: 2.8vw;
    font-weight: 400;
}

.item-icons {
    display: flex;
    gap: 8%;
}

.like-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 8%;
    text-decoration: none;
}

.icon {
    width: 2.4vw;
    height: auto;
}

.likes-count,
.comments-count {
    font-size: 1.2vw;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
    font-family: 'Inter', sans-serif;
}

.comment-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.liked .icon {
    filter: invert(72%) sepia(26%) saturate(6428%) hue-rotate(1deg) brightness(105%) contrast(102%);
}

.submit-button {
    width: 100%;
    margin-top: 3%;
    border: none;
    background-color: rgba(255, 85, 85, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 1.9vw;
    font-weight: 700;
    border-radius: 0.3vw;
    padding: 1%;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.submit-button:hover {
    background-color: rgba(200, 30, 30, 1);
}

.item-description-label {
    font-size: 2.24vw;
    font-weight: 700;
    margin-top: 4%;
}

.item-description {
    font-size: 1.5vw;
    font-weight: 400;
    margin-top: 2%;
}

.item-information-label {
    font-size: 2.24vw;
    font-weight: 700;
    margin-top: 8%;
}

/* カテゴリーのスタイル */
.item-categories {
    display: flex; /* 横並びにする */
    gap: 20px; /* カテゴリー間のスペース */
    align-items: center;
    flex-wrap: wrap;
}

.category-label {
    font-size: 1.5vw;
    font-weight: 700;
}

.category-name {
    white-space: nowrap;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(217, 217, 217, 1);
    font-size: 20px;
    font-weight: 400;
    border-radius: 30px;
    padding: 5px 10px;
}

.item-condition {
    display: flex; /* 横並びにする */
    gap: 80px; /* カテゴリー間のスペース */
    align-items: center;
}

.condition-label {
    font-size: 24px; /* 商品状態のフォントサイズ */
    font-weight: 700;
}

/* 商品の状態 */
.item-condition {
    font-size: 18px; /* 商品状態のフォントサイズ */
    font-weight: 400;
}

.comment-label {
    font-size: 36px; /* ラベルのフォントサイズ */
    font-weight: 700;
    color: rgba(95, 95, 95, 1);
}

.comments-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 400px;
    overflow-y: auto;
    padding-right: 15px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-image-container {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 1);
    overflow: hidden;
    margin-right: 18px;
}

.user-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-name {
    font-size: 30px;
    font-weight: 700;
}

.comment-content {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 15px;
    margin: 22px 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 300;
    background-color: rgba(229, 229, 229, 1);
}

.comment-form {
    display: flex; /* Flexboxを使用 */
    flex-direction: column; /* 縦方向に並べる */
    width: 100%; /* 横いっぱいに広げる */
    gap: 10px; /* 要素間の隙間を設定 */
}

.comment-form-label {
    font-size: 28px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
}

.comment-form textarea {
    width: 100%;
    height: 246px;
    padding: 10px;
    border: 2px solid rgba(95, 95, 95, 1);
    border-radius: 5px;
    margin-bottom: 48px;
}