.user-info {
    display: flex;
    align-items: center;
    margin-top: 5%;
}

.image-container {
    margin: 0 6% 0 18%;
    width: 10vw;
    height: auto;
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 1);
    overflow: hidden;
}

.user-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.user-name {
    text-align: center;
    font-size: 2.25vw;
    font-weight: 700;
}

.edit-profile-link {
    margin-left: 22%;
    padding: 0.5% 2.5%;
    border-radius: 7px;
    text-align: center;
    font-size: 1.6vw;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    color: rgba(255, 85, 85, 1);
    border: 0.15vw solid rgba(255, 85, 85, 1);
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-profile-link:hover {
    background-color: rgba(255, 86, 85, 0.1);
}